<section ng-controller="ExampleController">
    <div data-ng-show="!authentication.user">
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    </div>
    <div data-ng-show="authentication.user">
        <h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
        <ul>
            <li data-ng-repeat="favour in favours">
                <a data-ng-href="#!/favours/{{favour._id}}" data-ng-bind="favour.title"></a>
                <br>
                <small data-ng-bind="favour.created | date:'medium'"></small>
                <small>/</small>
                <small data-ng-bind="favour.creator.fullName"></small>
                <p data-ng-bind="favour.description"></p>
            </li>
        </ul>
        <a href="/signout">Signout</a>
        <ul>
            <li><a href="/#!/favours">List Favs</a></li>
            <li><a href="/#!/favours/create">Log Favour</a></li>
            <li><a href="/#!/people/">View Users</a></li>

        </ul>
    </div>
</section>